<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name ="db"
			 connectionString ="Data Source=DESKTOP-171AVQP\SQLEXPRESS;Initial Catalog=HSK_QuanLyCuaHangBanDienThoai;Integrated Security=True"
			 providerName="System.Data.SqLClient"/>
	</connectionStrings>
</configuration>